/*Sitemap*/

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #ff001b;
  cursor: pointer;
}

.sitemap {
  color: #333;
  font-family: "Averta Standard Regular", sans-serif;
  margin: 8rem auto;
  margin-bottom: 6rem;
  max-width: 1080px;
}

@media only screen and (min-width: 320px) and (max-width: 1060px) {
  .sitemap {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.sitemap--heading {
  font-family: "Lavanderia Sturdy", serif;
  font-size: 3.5rem;
  margin-bottom: 1.8rem;
}

.sitemap--statement {
  font-family: "Studio Italic", serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  width: 60%;
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  .sitemap--statement {
    width: 75%;
  }
}

.sitemap--row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  .sitemap--row {
    flex-direction: column;
  }
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  .sitemap--column {
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 2px #eee solid;
  }
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  .sitemap--column:last-child {
    border-bottom: none;
  }
}

.sitemap--subheading {
  font-family: "Averta Standard Semibold", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
  letter-spacing: 0.03rem;
}

.sitemap--link {
  letter-spacing: 0.03rem;
}

/*Footer*/

.footer-site {
  background-color: #00237e;
  color: #fff;
  font-family: "Averta Standard Light", sans-serif;
  width: 100%;
  line-height: 1.5rem;
}

.footer-site a {
  color: #fff;
}

.footer--row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1.8rem 0;
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  .footer--row {
    flex-direction: column;
    margin-right: 25px;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  .footer--column {
    width: 100%;
    border-bottom: 0.15rem #fff solid;
    padding: 1rem 0;
  }
  .footer--column:first-child {
    padding-top: 0;
  }
}

.footer--row__statement {
  display: flex;
  font-family: "Studio Italic", serif;
  font-size: 1.4rem;
  flex-direction: row;
  align-items: flex-start;
  width: 40%;
  padding-left: 2.4rem;
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  .footer--row__statement {
    padding-left: 0;
    padding-top: 2rem;
    width: 100%;
  }
}

.footer--row__links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 60%;
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  .footer--row__links {
    flex-direction: column;
    width: 100%;
  }
}

.footer--heading {
  font-family: "Averta Standard Semibold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.legal-mentions {
  font-family: "Averta Standard Light", sans-serif;
  font-size: 0.8rem;
}